html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

header h2 {
    margin: 0;
    color: black;
}

main {
    text-align: center;
}

.center-box {
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: black;
    color: white;
    font-size: 2rem;
    max-width: 15em;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 1em;
    padding: 0.3em 0.2em;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.center-box p {
    margin: 0;
}

#button {
    background-color: transparent;
    font-size: 1.3rem;
    padding: 0.3em 1em;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}