html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #873d48;
    display: flex;
    align-items: center;
}

.container {
    background-color: #8a5a61;
    height: 600px;
    width: 700px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 1px 3px 50px rgb(0, 0, 0, 0.3);
}